<div class="ui-panel-inner">
<img src="img/logotipo.jpg" style="width: 100%;">
<div class="menu">
    <span class="usuario"></span>
    <span class="cargo"></span>
</div>
<div data-role="content">
    <div data-role="collapsible" data-inset="false" class="item_menu">
        <h3>Usuários</h3>
        <ul data-role="listview">
            <li style="display: none;"></li>
            <li><a href="view/usuarios/usuarios.html" id="mnUsuarios" data-ajax="true" style="display: none;" data-transition="none">Usuários</a></li>
            <li><a href="view/usuarios/adicionarUsuario.html" style="display: none;" data-ajax="true" data-transition="none">Novo Usuário</a></li>
            <li><a href="view/usuarios/dadosUsuarioLogado.html" data-ajax="true" data-transition="none">Meus Dados</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu">
        <h3>Atividades</h3>
        <ul data-role="listview" data-inset="false" class="ulMenuListAtividade">
            <li style="display: none;">aqui nao</li>
            <li><a href="view/atividade/adicionarAtividade.html" data-ajax="true" data-transition="none">Check-in</a></li>
            <li><a href="view/atividade/atividadesCheckout.html" id="nmFazerCheckout" data-ajax="true" data-transition="none">Check-out</a></li>
            <li><a href="view/checklist/checklists.html" id="nmChecklist" data-ajax="true" data-transition="none">Checklist's</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu">
        <h3>Primeiro Contato</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/captacao/captacoes.html" id="nmCaptacao" data-ajax="true" data-transition="none">Primeiro Contato</a></li>
            <li><a href="view/captacao/adicionarCaptacao.html" data-ajax="true" data-transition="none">Novo Contato</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Negociações</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/proposta/propostasApresentacao.html" id="mnPropostasAbertas" data-ajax="true"  data-transition="none">APRESENTAÇÃO</a></li>
            <li><a href="view/proposta/propostasRetornarVisita.html" id="mnsRetornarVisita" data-ajax="true"  data-transition="none">RETORNAR VISITA</a></li>
            <li><a href="view/proposta/propostasEnviarProposta.html" id="mnEnviarProposta" data-ajax="true"  data-transition="none">ENVIAR PROPOSTA</a></li>
            <li><a href="view/proposta/propostasArquivada.html" id="mnPropostasArquivadas" data-ajax="true"  data-transition="none">SEM INTERESSE</a></li>
            <li><a href="view/proposta/adicionarRespostaProposta.html" id="nmRespostaProposta" style="display: none;" data-ajax="true"  data-transition="none">Adicionar Proposta</a></li>
            <li><a href="view/proposta/adicionarProposta.html" data-ajax="true"  data-transition="none">Adicionar Proposta</a></li>
            <li><a href="view/proposta/franquia/adicionarPropostaFranquia.html" id="nmPropostaFranquia" data-ajax="true"  style="display: none;" data-transition="none">Adicionar Franquia</a></li>
            <li><a href="view/proposta/aparelho/adicionarPropostaAparelho.html" id="nmPropostaAparelho" data-ajax="true"  style="display: none;" data-transition="none">Adicionar Aparelho</a></li>
            <li><a href="view/proposta/portabilidade/adicionarPortabilidade.html" id="nmPropostaPortabilidade" data-ajax="true"  style="display: none;" data-transition="none">Adicionar Portabilidade</a></li>
            <li><a href="view/proposta/modulo/adicionarModulo.html" id="nmPropostaModulo" data-ajax="true"  style="display: none;" data-transition="none">Adicionar Modulo</a></li>
            <li><a href="view/proposta/migracao/adicionarMigracao.html" id="nmPropostaMigracao" data-ajax="true"  style="display: none;" data-transition="none">Adicionar Migração</a></li>
            <li><a href="view/proposta/editarProposta.html" id="mnsEditarProposta" data-ajax="true"  style="display: none;" data-transition="none">Adicionar Migração</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Propostas</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/proposta/propostasAguardandoDocumentos.html" data-ajax="true"  id="mnAguardandoDocumento" data-transition="none">AG. DOCUMENTOS</a></li>
            <li><a href="view/proposta/propostasAguardandoAssinatura.html" data-ajax="true"  id="mnAguardandoAssinatura" data-transition="none">AG. ASSINATURAS</a></li>
            <li><a href="view/proposta/propostasFinalizadas.html" data-ajax="true"  data-transition="none">CONCLUÍDO</a></li>

        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu">
        <h3>Tarefas</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;">aqui nao</li>
            <li><a href="view/tarefas/tarefasAgendada.html" id="nmTarefasAgendadas" data-ajax="true" data-transition="none">Agendadas</a></li>
            <li><a href="view/tarefas/tarefasConfirmadas.html" data-ajax="true" data-transition="none">Confirmadas</a></li>
            <li><a href="view/tarefas/tarefasExecutadas.html" data-ajax="true" data-transition="none">Executadas</a></li>
            <li><a href="view/tarefas/agenda.html" data-ajax="true" data-transition="none">Minha Agenda</a></li>
            <li><a href="view/tarefas/adicionarTarefa.html"  data-ajax="true" data-transition="none">Adicionar Tarefa</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Formulários</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/formulario/formularios.html" id="nmFormularios" data-ajax="true" data-transition="none">Formulários</a></li>
            <li><a href="view/formulario/adicionarFormulario.html" data-ajax="true" data-transition="none">Novo Formulário</a></li>
            <li><a href="view/formulario/adicionarPerguntaFormulario.html" style="display: none;" data-ajax="true" data-transition="none">Perguntas</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Planos</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/plano/planos.html" id="nmPlanos" data-ajax="true" data-transition="none">Planos</a></li>
            <li><a href="view/plano/adicionarPlano.html" data-ajax="true" data-transition="none">Novo Plano</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Aparelhos</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/aparelho/aparelhos.html" id="nmAparelhos" data-ajax="true" data-transition="none">Aparelhos</a></li>
            <li><a href="view/aparelho/adicionarAparelho.html" data-ajax="true" data-transition="none">Novo Aparelho</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Passaporte</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/passaporte/passaportes.html" id="nmPassaporte" data-ajax="true" data-transition="none">Passaportes</a></li>
            <li><a href="view/passaporte/adicionarPassaporte.html" data-ajax="true" data-transition="none">Novo Passaporte</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Tipo Solicitação</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/tiposolicitacaoproposta/tiposSolicitacaoProposta.html" id="nmTipoSolicitacaoProposta" data-ajax="true" data-transition="none">Tipos Solicitação</a></li>
            <li><a href="view/tiposolicitacaoproposta/adicionarTipoSolicitacaoProposta.html" data-ajax="true" data-transition="none">Novo Tipo Solicitação</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Classificação</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/classificacaocliente/classificacoesCliente.html" id="nmClassificacao" data-ajax="true" data-transition="none">Classificações</a></li>
            <li><a href="view/classificacaocliente/adicionarClassificacaoCliente.html" data-ajax="true" data-transition="none">Nova Classificação</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>SimCard</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/simcard/simcard.html" id="nmSimCard" data-ajax="true" data-transition="none">SimCard</a></li>
            <li><a href="view/simcard/adicionarSimCard.html" data-ajax="true" data-transition="none">Novo SimCard</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Região</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/regiao/regioes.html" id="nmRegiao" data-ajax="true" data-transition="none">Regiões</a></li>
            <li><a href="view/regiao/adicionarRegiao.html" data-ajax="true" data-transition="none">Nova Região</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Plugin</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/plugin/plugins.html" id="nmPlugin" data-ajax="true" data-transition="none">Plug-ins</a></li>
            <li><a href="view/plugin/adicinarPlugin.html" data-ajax="true" data-transition="none">Novo Plug-in</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Meio Divulgação</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/meiodivulgacao/meiosDivulgacao.html" id="nmMeioDivugacao" data-ajax="true" data-transition="none">Meios Divulgaçao</a></li>
            <li><a href="view/meiodivulgacao/adicionarMeioDivulgacao.html" data-ajax="true" data-transition="none">Novo Meio Divulgação</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Operadora</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/operadora/operadoras.html" id="nmOperadora" data-ajax="true" data-transition="none">Operadoras</a></li>
            <li><a href="view/operadora/adicionarOperadora.html" data-ajax="true" data-transition="none">Nova Operadora</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Cód. Anatel</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/codigoanatel/codigosAnatel.html" id="nmCodigoAnatel" data-ajax="true" data-transition="none">Códigos</a></li>
            <li><a href="view/codigoanatel/adicionarCodigoAnatel.html" data-ajax="true" data-transition="none">Novo Código</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Tipos Check-in</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/tipocheckin/tiposCheckin.html" id="nmTipoChekin" data-ajax="true" data-transition="none">Tipos de Check-in</a></li>
            <li><a href="view/tipocheckin/adicionarTipoCheckin.html" data-ajax="true" data-transition="none">Novo Tipo Check-in</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Tipos Tarefa</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/tipotarefa/tiposTarefa.html" id="nmTiposTarefa" data-ajax="true" data-transition="none">Tipos de Tarefa</a></li>
            <li><a href="view/tipotarefa/adicionarTipoTarefa.html" data-ajax="true" data-transition="none">Novo Tipo Tarefa</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display: none;">
        <h3>Cargos</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/cargo/cargos.html" data-ajax="true" id="nmCargo" data-transition="none">Cargos</a></li>
            <li><a href="view/cargo/adicionarCargo.html" data-ajax="true" data-transition="none">Novo Cargo</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display:none;">
        <h3>Configurações</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="view/configuracao/configuracaoGeral.html" data-transition="none">Configuração</a></li>
        </ul>
    </div>
    <div data-role="collapsible" data-inset="false" class="item_menu" style="display:none;">
        <h3>Sincronização</h3>
        <ul data-role="listview" data-inset="false">
            <li style="display: none;"></li>
            <li><a href="#" class="mnSincronizacao" data-ajax="true" data-transition="none">Sincronizar</a></li>
        </ul>
    </div>
</div>
</div>